<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quanlisachpn">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ThongKeActivity"></activity>
        <activity android:name=".GioiThieuActivity" />
        <activity android:name=".HoaDonActivity" />
        <activity android:name=".DangKiActivity" />
        <activity android:name=".TheLoaiActivity" />
        <activity android:name=".QuanLiSachActivity" />
        <activity android:name=".ChaoActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QlNguoiDungActivity" />
        <activity android:name=".DangNhapActivity">
        </activity>
        <activity android:name=".TrangChuAcivity" />
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>